{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Edit Pet Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit Pet</h2>
        <!-- Start Edit Pet From -->
        <form action="{% url 'edit pet' username=username pet_slug=pet.slug %}" method="post">

            {{ pet_form.as_p }}
            <!-- Edit Pet Button -->
            <button class="edit-btn" type="submit">Edit</button>
            <!-- Go Back Button -->
            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>
            {% csrf_token %}
        </form>
        <!-- End Edit Pet Form -->

    </div>
    <!-- End Edit Pet Section -->
{% endblock %}